AnypointStudio/studio-workspace/monster-vendor-ap/src/main/mule/subs-monster.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<flow name="subs-monsterFlow" doc:id="e0bb699b-6b9b-4449-8a7c-fbf4af22bd8a" >
		<jms:listener doc:name="On New Message" doc:id="e9982d09-5c9e-4ea0-adb8-0f053acc0626" config-ref="JMS_Config" destination="Q.MONSTER" inboundContentType="application/json">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<logger level="INFO" doc:name="Logger" doc:id="fabb149b-1b94-4c87-8f5e-1af767ee37ea" message="#[payload]"/>
	</flow>
</mule>
