AnypointStudio/studio-workspace/monster-vendor-ap/src/main/mule/subs-monster.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<flow name="subs-monsterFlow" doc:id="e0bb699b-6b9b-4449-8a7c-fbf4af22bd8a" >
		<jms:listener doc:name="On New Message" doc:id="e9982d09-5c9e-4ea0-adb8-0f053acc0626" config-ref="JMS_Config" destination="Q.MONSTER" inboundContentType="application/json">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<set-variable value="#[payload]" variableName="recebedor" doc:name="Definir Fila de Destino" />
		<jms:consume doc:name="Consume" doc:id="38535d1f-8ff2-4e97-9895-0400a32e4f9c" config-ref="JMS_Config" contentType="application/json" maximumWait="5" maximumWaitUnit="SECONDS" destination="#[vars.recebedor]">
			<jms:consumer-type>
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:consume>
		<logger level="INFO" doc:name="Logger" doc:id="c70b1fcf-ef66-4067-8590-42bca536fa17" message="#[payload]" />
	</flow>
</mule>
