AnypointStudio/studio-workspace/emp-finance-api/src/main/mule/emp-finance-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0cbaa9c1-1a29-4bac-bdfe-f2f08ec0e236" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="3827dbe8-388b-45a3-94c7-9d63e9d83700" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="1234" database="employee" />
	</db:config>
	<flow name="emp-finance-apiFlow" doc:id="56f51b81-3cb1-49f1-8f62-2babc732d226" >
		<http:listener doc:name="Listener" doc:id="99204875-35e8-45e3-ac7e-2fbad500d96c" config-ref="HTTP_Listener_config" path="/employees"/>
		<logger level="INFO" doc:name="Start Log" doc:id="83392527-17ac-4f91-96ad-b8c98a3314ee" message="Received request to get all employeed"/>
		<ee:transform doc:name="Set Payload" doc:id="eddedd09-6fd2-4d40-8968-acf425e85eae" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "status": "success",
  "data": [
    {
      "id": 1,
      "employee_name": "Tiger Nixon",
      "employee_salary": 320800,
      "employee_age": 61,
      "profile_image": ""
    },
    {
      "id": 2,
      "employee_name": "Garrett Winters",
      "employee_salary": 170750,
      "employee_age": 63,
      "profile_image": ""
    },
    {
      "id": 3,
      "employee_name": "Ashton Cox",
      "employee_salary": 86000,
      "employee_age": 66,
      "profile_image": ""
    },
    {
      "id": 4,
      "employee_name": "Cedric Kelly",
      "employee_salary": 433060,
      "employee_age": 22,
      "profile_image": ""
    },
    {
      "id": 5,
      "employee_name": "Airi Satou",
      "employee_salary": 162700,
      "employee_age": 33,
      "profile_image": ""
    },
    {
      "id": 6,
      "employee_name": "Brielle Williamson",
      "employee_salary": 372000,
      "employee_age": 61,
      "profile_image": ""
    },
    {
      "id": 7,
      "employee_name": "Herrod Chandler",
      "employee_salary": 137500,
      "employee_age": 59,
      "profile_image": ""
    },
    {
      "id": 8,
      "employee_name": "Rhona Davidson",
      "employee_salary": 327900,
      "employee_age": 55,
      "profile_image": ""
    },
    {
      "id": 9,
      "employee_name": "Colleen Hurst",
      "employee_salary": 205500,
      "employee_age": 39,
      "profile_image": ""
    },
    {
      "id": 10,
      "employee_name": "Sonya Frost",
      "employee_salary": 103600,
      "employee_age": 23,
      "profile_image": ""
    },
    {
      "id": 11,
      "employee_name": "Jena Gaines",
      "employee_salary": 90560,
      "employee_age": 30,
      "profile_image": ""
    },
    {
      "id": 12,
      "employee_name": "Quinn Flynn",
      "employee_salary": 342000,
      "employee_age": 22,
      "profile_image": ""
    },
    {
      "id": 13,
      "employee_name": "Charde Marshall",
      "employee_salary": 470600,
      "employee_age": 36,
      "profile_image": ""
    },
    {
      "id": 14,
      "employee_name": "Haley Kennedy",
      "employee_salary": 313500,
      "employee_age": 43,
      "profile_image": ""
    },
    {
      "id": 15,
      "employee_name": "Tatyana Fitzpatrick",
      "employee_salary": 385750,
      "employee_age": 19,
      "profile_image": ""
    },
    {
      "id": 16,
      "employee_name": "Michael Silva",
      "employee_salary": 198500,
      "employee_age": 66,
      "profile_image": ""
    },
    {
      "id": 17,
      "employee_name": "Paul Byrd",
      "employee_salary": 725000,
      "employee_age": 64,
      "profile_image": ""
    },
    {
      "id": 18,
      "employee_name": "Gloria Little",
      "employee_salary": 237500,
      "employee_age": 59,
      "profile_image": ""
    },
    {
      "id": 19,
      "employee_name": "Bradley Greer",
      "employee_salary": 132000,
      "employee_age": 41,
      "profile_image": ""
    },
    {
      "id": 20,
      "employee_name": "Dai Rios",
      "employee_salary": 217500,
      "employee_age": 35,
      "profile_image": ""
    },
    {
      "id": 21,
      "employee_name": "Jenette Caldwell",
      "employee_salary": 345000,
      "employee_age": 30,
      "profile_image": ""
    },
    {
      "id": 22,
      "employee_name": "Yuri Berry",
      "employee_salary": 675000,
      "employee_age": 40,
      "profile_image": ""
    },
    {
      "id": 23,
      "employee_name": "Caesar Vance",
      "employee_salary": 106450,
      "employee_age": 21,
      "profile_image": ""
    },
    {
      "id": 24,
      "employee_name": "Doris Wilder",
      "employee_salary": 85600,
      "employee_age": 23,
      "profile_image": ""
    }
  ],
  "message": "Successfully! All records has been fetched."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="d799da46-ef23-49cc-9837-01dfa35239b6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.data map {
	emp_id: $.id,
	emp_name: $."employee_name",
	emp_status: $."employee_age"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk insert" doc:id="109dbff6-ef56-4e85-8f39-e29483547774" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into employee.emp(emp_id, emp_name, emp_status) values(:emp_id, :emp_name, :emp_status)]]></db:sql>
		</db:bulk-insert>
	
</flow>
<flow name="emp-finance-apiFlow1" doc:id="a85074b8-a2e8-40da-9abb-143747fb829f">
<http:listener doc:name="Listener" doc:id="73f69aec-57b2-47e6-b080-4a44c6ee028e" config-ref="HTTP_Listener_config" path="/employees/{id}"/>
<logger level="INFO" doc:name="Start Log" doc:id="a90944ff-3d54-476d-9afb-d6b0634cbc7d" message="Received request to get employees by id"/>
<ee:transform doc:name="Set Payload" doc:id="cc4a0656-7689-4f5b-a158-93d7a6ec7a52">
<ee:message>
<ee:set-payload>
<![CDATA[ %dw 2.0 output application/java --- [ { "id": 1, "employee_name": "Tiger Nixon", "employee_salary": 320800, "employee_age": 61, "profile_image": "" }, { "id": 2, "employee_name": "Garrett Winters", "employee_salary": 170750, "employee_age": 63, "profile_image": "" }, { "id": 3, "employee_name": "Ashton Cox", "employee_salary": 86000, "employee_age": 66, "profile_image": "" }, { "id": 4, "employee_name": "Cedric Kelly", "employee_salary": 433060, "employee_age": 22, "profile_image": "" }, { "id": 5, "employee_name": "Airi Satou", "employee_salary": 162700, "employee_age": 33, "profile_image": "" }, { "id": 6, "employee_name": "Brielle Williamson", "employee_salary": 372000, "employee_age": 61, "profile_image": "" }, { "id": 7, "employee_name": "Herrod Chandler", "employee_salary": 137500, "employee_age": 59, "profile_image": "" }, { "id": 8, "employee_name": "Rhona Davidson", "employee_salary": 327900, "employee_age": 55, "profile_image": "" }, { "id": 9, "employee_name": "Colleen Hurst", "employee_salary": 205500, "employee_age": 39, "profile_image": "" }, { "id": 10, "employee_name": "Sonya Frost", "employee_salary": 103600, "employee_age": 23, "profile_image": "" }, { "id": 11, "employee_name": "Jena Gaines", "employee_salary": 90560, "employee_age": 30, "profile_image": "" }, { "id": 12, "employee_name": "Quinn Flynn", "employee_salary": 342000, "employee_age": 22, "profile_image": "" }, { "id": 13, "employee_name": "Charde Marshall", "employee_salary": 470600, "employee_age": 36, "profile_image": "" }, { "id": 14, "employee_name": "Haley Kennedy", "employee_salary": 313500, "employee_age": 43, "profile_image": "" }, { "id": 15, "employee_name": "Tatyana Fitzpatrick", "employee_salary": 385750, "employee_age": 19, "profile_image": "" }, { "id": 16, "employee_name": "Michael Silva", "employee_salary": 198500, "employee_age": 66, "profile_image": "" }, { "id": 17, "employee_name": "Paul Byrd", "employee_salary": 725000, "employee_age": 64, "profile_image": "" }, { "id": 18, "employee_name": "Gloria Little", "employee_salary": 237500, "employee_age": 59, "profile_image": "" }, { "id": 19, "employee_name": "Bradley Greer", "employee_salary": 132000, "employee_age": 41, "profile_image": "" }, { "id": 20, "employee_name": "Dai Rios", "employee_salary": 217500, "employee_age": 35, "profile_image": "" }, { "id": 21, "employee_name": "Jenette Caldwell", "employee_salary": 345000, "employee_age": 30, "profile_image": "" }, { "id": 22, "employee_name": "Yuri Berry", "employee_salary": 675000, "employee_age": 40, "profile_image": "" }, { "id": 23, "employee_name": "Caesar Vance", "employee_salary": 106450, "employee_age": 21, "profile_image": "" }, { "id": 24, "employee_name": "Doris Wilder", "employee_salary": 85600, "employee_age": 23, "profile_image": "" } ] ]]>
</ee:set-payload>
</ee:message>
<ee:variables>
<ee:set-variable variableName="empID">
<![CDATA[ %dw 2.0 output application/java --- attributes.uriParams.id ]]>
</ee:set-variable>
</ee:variables>
</ee:transform>
<ee:transform doc:name="Set Response" doc:id="bb94fe64-b2ac-45d5-a4cc-016b9f3abc7b">
<ee:message>
<ee:set-payload><![CDATA[ %dw 2.0 output application/json
 ---
 (payload filter($.id as String == vars.empID))[0] ]]>
</ee:set-payload>
</ee:message>
</ee:transform>
</flow>
</mule>
